div.chart-container {
    display: flex;
    flex-direction: row;
}

div.chart,
div.legend {
    display: inline-flex;
}

div.legend {
  flex-direction: column;
}

div.legend.title,
div.legend.container {
    display: inline-flex;
}

.hidden {
    display: none;
}

text.highlight {
    font-weight: bold;
}

.chart .unit,
.chart .tooltip,
.legend .title,
.legend .item {
    stroke: none;
    font: 14px Arial;
    fill: var(--color-base, light-dark(#515151, #aaaaaa))
}

.legend .title,
.chart .unit {
  font-weight: bold;
}

.chart .plot {
    stroke-width: 2;
    fill: none;
}

.chart .plot-event {
    stroke: transparent;
    stroke-width: 10;
    fill: none;
}

.chart .dot {
  stroke: transparent;
  stroke-width: 10;
}

.legend .dot {
  stroke-width: 1;
}

.legend .dot.disabled {
  fill: transparent;
}

.legend .item.disabled {
  fill: var(--color-disabled, light-dark(#515151, #aaaaaa));
}

.tick > line {
    fill: none;
    stroke-width: 1;
    stroke: var(--color-disabled, light-dark(#b7b7b7, #333333));
}

.axis > line {
    fill: none;
    stroke-width: 1;
    stroke: var(--color-placeholder, light-dark(#e0e0e0, #515151));
}
.tick > text {
    stroke: none;
    font: 12px Arial;
    fill: var(--color-base, light-dark(#515151, #aaaaaa));
}
.tooltip {
    z-index: 2;
}

.legend .title,
.legend .dot,
.legend .item,
.axis .title,
.axis .unit {
    cursor: pointer;
}

.legend .container {
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    margin-bottom: 15px;
}
